
@{
    ViewBag.Title = "Home";
    var results = ViewBag.message;
}
<h1></h1>
<h1 style="text-align:center">Step</h1>

<div class="row">
    @{
        if (results == null)
        {
            <div class="column">
                <a href='@Url.Action("Create", "Customers")'>
                    <img width="250" src="~/Content/Images/number-one-in-a-circle.png" />
                </a>
            </div>
        }
    }
    @{
        if (results != null && results == "2")
        {
            <div class="column">
                <a href='@Url.Action("Create", "Systems")'>
                    <img width="250" style="background-color:orangered" src="~/Content/Images/number-two-in-a-circle.png" />
                </a>
            </div>
        }
    }
    @{
        if (results != null && results == "3")
        {
            <div class="column">
                <a href='@Url.Action("Create", "Agents")'>
                    <img width="250" style="background-color:orangered" src="~/Content/Images/number-three-in-a-circle.png" />
                </a>
            </div>

        }
    }
    @{
        if (results != null && results == "Done")
        {
            <h3>Customer added successfully,   @Html.ActionLink("Click here me to repeat the steps", "Index", "Home")</h3>

        }
    }
</div>
          